<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<title><%= title %></title>
<style>
*, ::before, ::after {
  box-sizing: border-box;
}

.flex	{ display: flex; }
.flex-wrap { flex-wrap: wrap; }
.gap-3 { gap: 0.75rem; }
.h-96	{ height: 24rem; }
.hover\:underline:hover { text-decoration-line: underline; }
.max-w-2xl { max-width: 42rem; }
.min-w-96 { min-width: 24rem; }
.m-0 { margin: 0; }
.m-2 { margin: 0.5rem; }
.mt-0 { margin-top: 0; }
.mt-2 { margin-top: 0.5rem; }
.mt-4 { margin-top: 1rem; }
.my-2 { margin-top: 0.5rem; margin-bottom: 0.5rem; }
.no-underline { text-decoration-line: none; }
.p-1\.5 { padding: 0.375rem; }
.text-black { color: rgb(0 0 0); }
.text-gray-800 { color: rgb(31 41 55); }
.text-xs { font-size: 0.75rem; line-height: 1rem; }
.w-full { width: 100%; }
.w-1\/2 { width: 50%; }
</style>
</head>
<body>
<header>
  <h1><a href="/" class="no-underline hover:underline text-black">Bluesky Moderator</a></h1>
</header>
<main>
